{
	"printWidth": 80,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"overrides": [
		{
			"files": ["tests/models/user-role-action.test.ts"],
			"options": {
				"printWidth": 120
			}
		}
	]
}
